@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
}
#root{
    height: 100vh;
}
html{

    box-sizing: border-box;
    font-size: 62.5%;
}

canvas{
  vertical-align: middle;
    display: block;    
}